# PostgreSQL
POSTGRES_USER=valor
POSTGRES_PASSWORD=valor
POSTGRES_DB=valor
DB_URL=valor

# Go Backend
PEPPER_SECRET=valor
ALLOWED_DOMAIN=valor
JWT_SECRET=valor
ADMIN_SETUP_TOKEN=valor

# Next.js Frontend
BACKEND_URL=valor
NEXT_PUBLIC_API_URL=valor
NEXT_PUBLIC_BASE_URL=valor